/* IMPORTED FONTS*/
@font-face {
    font-family: another_danger;
    src: url("../font/another_danger_slanted.otf");
}

@font-face {
    font-family: junicode;
    src: url("../font/junicode.ttf");
}


/* UNIVERSAL AFFECTS EVERY PAGE */


#cinema_body h1 {
    width: 100%;
    font-family: another_danger;
    text-align: center;
   
    color: rgb(122, 5, 5);
}

#cinema_content {
    display: grid;
    width: 100%;
    height: 90px;
    grid-template: 400px 400px 400px /600px 700px;
    grid-template-rows:auto;
    grid-gap: 20px;
    
}

#cinema_content p {
    color: rgb(35, 4, 4);
    font-family: Junicode;
    font-size: 20px;
    line-height: 93%;
    font-weight: 800;
}
#intro{
    color: rgb(35, 4, 4);
    font-family: Junicode;
    font-size: 20px;
    line-height: 100%;
    font-weight: 800;
    text-align: center;
}


/* MEDIA QUERY*/
@media only screen and (max-width: 1400px) {
    img{
        margin-left: 35%;
    
    }

#halloween_title{
    margin-left: 43%;
}
#night_title{
    margin-left: 34%;
}
#psycho_title{
margin-left: 45%;
}
    #cinema_content {
        display: grid;
        grid-template-columns: 1fr;
grid-template-rows: auto;
        line-height: 200%;
        font-size: 30px;
        display: block;
       
        width: 100%;
        word-break: normal;

    }

}

@media only screen and (max-width: 1200px) {
    img{
        margin-left: 30%;
    
    }

    br {
        display: block;
    }
#halloween_title{
    margin-left: 40%;
}
#night_title{
    margin-left: 30%;
}
#psycho_title{
margin-left: 43%;
}
   
}
@media only screen and (max-width: 725px){
    img{
        margin-left: 18%;
    
    }

#halloween_title{
    margin-left: 35%;
}
#night_title{
    margin-left: 18%;
}
#psycho_title{
margin-left: 37%;
}

}

@media only screen and (max-width: 630px) {

    img{
        margin-left: 15%;
    }


    #cinema_content {
        display: grid;
        line-height: 80%;
        font-size: 30px;
       

    }

}
@media only screen and (max-width: 530px) {
    img{
        margin-left: 0%;
    }
    #halloween_title{
        margin-left: 30%;
    }
    #night_title{
        margin-left: 0%;
    }
    #psycho_title{
    margin-left: 35%;
    }
  
}