/* IMPORTED FONTS*/
@font-face {
    font-family: another_danger;
    src: url("../font/another_danger_slanted.otf");
}

@font-face {
    font-family: junicode;
    src: url("../font/junicode.ttf");
}


/* LIT HORROR PAGE SPECIFIC*/

#lit_body p {
    color: rgb(35, 4, 4);
    font-family: Junicode;
    font-size: 20px;
    font-style: bold;
    font-weight: 800;
}



#lit_body h2 {
    line-height: 80%;
    font-size: 30px;
    align-content: center;
}

/*CREATING GRIDS*/
#lit_content {
    display: grid;
    width: 100%;
    height: 90px;
    grid-template: 300px 300px 300px / 300px 1000px;
    grid-gap: 20px;

}

/*MEDIA QUERY*/

@media only screen and (max-width: 1320px) {
    /* GRID /BODY AND HEADER CHANGES*/
    #header {
        font-size: 50px;
    }


    #header_container h2 {

        font-size: 20px;
        text-align: center;
    }

 

    #lit_content {
        display: grid;
        grid-template-columns: 1fr;
    }

    #cinema_body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        width: 100%;
        height: 90px;
        grid-gap: 20px;
    }

    /*  IMAGE AND TITLE MARGINS*/
    img {
        margin-left: 40%;
    }

    #frank_title,
    #usher_title,
    #shinning_title {
        line-height: 80%;
        font-size: 30px;
        display: inline;
        width: 50%;
        word-break: normal;
    }

    #frank_title {
        margin-left: 35%;
    }

    #usher_title {

        margin-left: 25%
    }

    #shinning_title {
        margin-left: 37%;
    }
}

@media only screen and (max-width: 1100px) {

    #usher_title {
        margin-left: 15%;
    }

    #shinning_title {
        margin-left: 33%;
    }

}

@media only screen and (max-width: 920px) {

    #usher_title {
        margin-left: 5%;
    }

}

@media only screen and (max-width: 750px) {
    #frank_title {
        margin-left: 27%;
    }

    #usher_title {
        margin-left: 0%;
    }

}

@media only screen and (max-width: 630px) {

    img {
        margin-left: 15%;
    }

    #lit_content {
        grid-template-rows: auto;
    }

    #frank_title {
        margin-left: 0%;
    }

    #usher_title {
        margin-left: 0%;
    }

    #shinning_title {
        margin-left: 0%;
    }

    #lit_body h2 {

        width: 100%;


    }

}