/* IMPORTED FONTS*/
@font-face {
    font-family: another_danger;
    src: url("../font/another_danger_slanted.otf");
}

@font-face {
    font-family: junicode;
    src: url("../font/junicode.ttf");
}


/* MAIN PAGE SPECIFIC */

#horror_genre h2 {
    text-align: center;
    font-size: 40px;
}

#horror_genre p {
    color: rgb(35, 4, 4);
    font-family: Junicode;
    font-size: 20px;
    font-style: bold;
    font-weight: 800;
    text-align: center;

}

#genre_block p {
    color: rgb(35, 4, 4);
    font-family: Junicode;
    font-size: 20px;
    font-style: bold;
    font-weight: 800;

}

/*CREATING BLOCK FOR MAIN PAGE*/
#genre_block {
    display: grid;
    width: 100%;
    height: 90px;
    grid-template: 400px 400px 400px / 600px 700px;
    grid-gap: 20px;
}


/* MEDIA QUERY*/


@media only screen and (max-width: 1200px) {
    /*TITLE AND IMAGE CENTERING*/

    #slasher_title {
        margin-left: 45%;
    }

    #psych_title {
        margin-left: 40%;
    }

    #super_title {
        margin-left: 40%;
    }

    #body_title {
        margin-left: 40%;
    }

    img {
        margin-left: 27%;
    }

    /*GRID AND TEXT CHANGES*/

    h2 {
        text-align: center;
    }

    #genre_page_body h2 {
        font-size: 20px;
        line-height: 70%;
    }

    #genre_block {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        width: 100%;
        height: 90px;
        grid-gap: 20px;
    }

    #header {
        font-size: 50px;
    }

    #p {
        text-align: center;
    }
}

@media only screen and (max-width: 830px) {
    img {
        margin-left: 20%;
    }

}

@media only screen and (max-width: 700px) {
    img {
        margin-left: 0%;

    }

    #slasher_title {
        margin-left: 30%;

    }

    #psych_title {
        margin-left: 20%;
    }

    #super_title {
        margin-left: 20%;
    }

    #body_title {
        margin-left: 20%;
    }
}

@media only screen and (max-width: 600px) {

    #horror_genre a {
        font-size: 13px;
    }

    #genre_block {
        display: grid;
        max-width: 430px;
    }

    img {
        margin-left: 0%;
    }


    br {
        display: block;
    }


    #genre_page_body h2 {
        font-size: 20px;
        line-height: 70%;
    }

}

@media only screen and (max-width: 530px) {
    img {
        width: 100%;
    }
}