
@font-face{
    font-family: another_danger;
    src: url("font/another_danger_slanted.otf");
}

@font-face{
    font-family: junicode;
    src: url("font/junicode.ttf");
}

 /*UNIVERSAL SELECTOR*/
 
body{
    background-color:rgb(109, 108, 108);
    
}

/*TYPE SELECTOR*/

#header_container{
    font-family: another_danger;
    color: rgb(122, 5, 5);
    font-size: 60px;
    text-align:center;
    font-stretch:extra-expanded;
    line-height: 60%;
   background:  url("images/grayforest.jpg") top;
   border: 1em, 3em, 3em, 0em;
   background-repeat: no-repeat;
   background-size:cover;
   width: 100%;
   padding-bottom: 5%;
   padding-top: 5%;
   margin-top: 0%;
}
#genre_page_body{
    background-color: rgb(238, 233, 225);
    color: black;
}

ul{
    font-family: junicode;
   color: rgb(35, 4, 4);
   text-align: left;
   font-weight: 600;
   padding-top: 2em;
   padding-bottom: 2em;
}
ol{
    font-family: junicode;
    color: rgb(35, 4, 4);
    text-align: left;
    font-weight: 600;
    padding: 2em;
}
footer{
    clear: both;
}
article{
    column-count: 3;
    column-gap: 35px;
    column-rule: 2px solid black;
    background-color: rgb(238, 233, 225);
}

/*CLASS SELECTOR*/

.first_text{
    font-family: junicode;
    color: rgb(122, 5, 5);
    font-size: 20px;
    text-align: center;
    line-height: 50%;
}

/*RELATION SELECTOR*/ 

section#horror_genre  {
    color: rgb(35, 4, 4);
    font-family: Junicode;
    font-size: 20px;

    text-align: left;
    width: 720px;
    float: left;
    line-height: 40%;
    font-weight: 800;
    border:ridge;
    border-width: 1%;
    border-color: rgb(35, 7, 7);
    margin-top: 1em;
    margin-bottom: 0%;
    

}
section#ancient_horror{
    width: 720px;
    float: right;
    border:ridge;
    border-width: 1%;
    margin-top: 1em;;
    border-color: rgb(35, 7, 7);
}

/*PSEUDO-CLASS AND PSEUDO-ELEMENTS*/

section#ancient_horror a:link {
    color: rgb(0, 0, 0);
    }

section#ancient_horror a:visited {
    color: rgb(99, 12, 12);
    }

section#ancient_horror a:hover {
font-size: 150%;
color: rgb(215, 24, 24);

}
section#horror_genre a{
    text-decoration: none;
    color: rgb(122, 5, 5);
    font-family: Junicode;
    font-size: 40px;
    text-align: left;
    line-height: 30%;
     font-weight: 800
     
}

/*COMBINATION */

h2,h3{
    color: rgb(122, 5, 5);
    font-family: Junicode;
    font-size: 40px;
    text-align: left;
    line-height: 30%;
     font-weight: 800;
}
